<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Controller.Update.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistController</servlet-name>
        <servlet-class>Controller.Insert.RegistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPatientController</servlet-name>
        <servlet-class>Controller.Insert.InsertPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.Search.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSurgeryController</servlet-name>
        <servlet-class>Controller.Update.updateSurgeryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSurgeryController</servlet-name>
        <servlet-class>Controller.Insert.InsertSurgeryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistController</servlet-name>
        <url-pattern>/RegistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPatientController</servlet-name>
        <url-pattern>/InsertPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSurgeryController</servlet-name>
        <url-pattern>/updateSurgeryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSurgeryController</servlet-name>
        <url-pattern>/InsertSurgeryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>wel.html</welcome-file>
    </welcome-file-list>
</web-app>
